.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    background-color: #f8f8f8;
    padding: .8em;

}

.title {
    
    font-size: 1.5em;
}

.text {
    margin-left: 1000px;
}

